<html>
<head>
<title>Search results
</title>
</head>
<body>
<h1>Search results</h1>
<table border="1">
<tr>
<td width="20%"><p align="center"><i><b>Item name</b></i></td>
<td width="20%"><p align="center"><i><b>Comments</b></i></td>
<td width="20%"><p align="center"><i><b>Category</b></i></td>
<td width="20%"><p align="center"><i><b>Subcategory</b></i></td>
</tr>
<% @items.each do |item| %>
<tr>
<td>
<a href="
<%=item.id%>
">
<%=item.name%>
</a>
</td>
<td><%= item.comments %></td>
<td><%= item.subcategory.category.name %></td>
<td><%= item.subcategory.name %></td>
</tr>
<% end %>
</table>
<p>
<%= link_to "Back", current_user %>
 </body>
</html>