<!DOCTYPE html>
<html>
  <head>
     <title>Personal Collection Stop | <%= @title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'style', :media => 'screen' %>
  </head>
  <body>
    <body>
    <div class="container">
      <header>
        <% pix = image_tag("rails.png", :alt => "logo") %>
		<%= link_to pix, root_path %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
			<% if signed_in? %>
			<li><%= link_to "Profile", current_user %></li>
			<% end %>
            <li><%= link_to "Contact", contact_path %></li>
			<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
            <li><%= link_to "Sign in", signin_path %></li>
			<% end %>
          </ul>
        </nav>
      </header>
      <div class="innerContainer">
	  <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
     </div>
	 	<%= debug(params) if Rails.env.development? %>
    </div>
  </body>

  </body>
</html>
